@import url("./nav.css");
@import url("./main.css");
@import url("./footer.css");

body.grid {
	grid-template-areas: "nav nav nav" ". main ." "footer footer footer";
	grid-template-rows: var(--nav-height, 4rem) 1fr auto;
	grid-template-columns: 1fr min(800px, 90vw) 1fr;
	row-gap: 2rem;
}

.btns.flex {
	gap: 18px;
	justify-content: space-around;
}

.btns > .btn {
	max-width: 250px;
}
